h1{
	color:black;
	font-size:64px ;
}
#HOMEPAGEBANNER { 
     width:100%;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center ;
}
a {
	text-decoration:none;
}
ol, ul{
	list-style-type: none;
}
.places {
	width:200px ;
}
li{
	padding: 10px;
}
* {
	margin: 0;
}
#HIGHBANNER
{
	display: flex;
}
#HIGHBANNER{
	position: relative;
}
#HIGHBANNER > h2,h1, #HIGHBANNER > p, #DISNEYHOMEPAGE  {
            position: absolute;
}
#DISNEYHOMEPAGE{
	transform:translate(0,0);
	width:20% ;

} 
h1{
	transform: translate(18%,66%);
}
#HIGHBANNER > h2{
	transform: translate(250%,1319%);
	background-color: darkcyan;
     border-radius: 20px;